.camera-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  .video {
    position: relative;
    max-width: 100%;
    height: 100%;
    #videoElement {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::after {
      content: '';
      position: absolute;
      transition: all 0.1s;
      bottom: 5%;
      left: 50%;
      width: 5rem;
      height: 5rem;
      transform: translateX(-50%);
      border: 3px solid white;
      background-color: rgba(41, 41, 41, 0.123);
      backdrop-filter: blur(5px);
      border-radius: 50%;
      transform-origin: center;
    }
    &:active::after {
      background-color: red;
      transform: scale(1.1) translateX(-45%);
    }
  }
  .error {
    font-family: Merienda;
    text-align: center;
    display: block;
    font-size: 2rem;
    #camerainput {
      display: block;
      margin: 1rem auto;
      transform: translateX(4rem);
    }
  }
}
