.dropdown-screen {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.123);
  backdrop-filter: blur(2px) saturate(0.3);
  animation: backFilter 0.2s linear;
  width: 100vw;
  height: 100vh;
  .dropdown-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 0;
    background-color: white;
    min-width: 15rem;
    font-size: 1.6rem;
    border-radius: 0.3rem;
    animation: slideDown 0.2s linear;
    opacity: 1;
    & > * {
      display: block;
      padding: 1rem 1rem;
      transition: all 0.3s;
      &:hover {
        background-color: rgb(228, 228, 228);
      }
      &:not(:last-child) {
        border-bottom: 0.3px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(
          to right,
          transparent 5%,
          rgba(0, 0, 0, 0.112) 10%,
          rgba(0, 0, 0, 0.112) 85%,
          transparent 90%
        );
      }
    }
  }
}
