.editdatascreen {
  background-image: radial-gradient(
      circle at 44% 13%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 98%,
      transparent 98%,
      transparent 100%
    ),
    radial-gradient(
      circle at 87% 84%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 46%,
      transparent 46%,
      transparent 100%
    ),
    radial-gradient(
      circle at 84% 60%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 40%,
      transparent 40%,
      transparent 100%
    ),
    radial-gradient(
      circle at 21% 32%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 28%,
      transparent 28%,
      transparent 100%
    ),
    radial-gradient(
      circle at 57% 12%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 34%,
      transparent 34%,
      transparent 100%
    ),
    radial-gradient(
      circle at 33% 60%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 29%,
      transparent 29%,
      transparent 100%
    ),
    radial-gradient(
      circle at 3% 11%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 60%,
      transparent 60%,
      transparent 100%
    ),
    radial-gradient(
      circle at 0% 74%,
      hsla(237, 0%, 100%, 0.05) 0%,
      hsla(237, 0%, 100%, 0.05) 87%,
      transparent 87%,
      transparent 100%
    ),
    linear-gradient(45deg, rgb(99, 105, 190), rgb(99, 70, 205));
  min-height: 100vh;
  padding-bottom: 1rem;
  header {
    font-family: Merienda;
    display: flex;
    padding: 1.5rem 0.5rem;
    align-items: center;
    i {
      margin-left: 1rem;
    }
    p {
      transform: translateX(-3%);
      font-size: 2rem;
      text-align: center;
      flex: 1;
    }
    color: rgb(99, 105, 190);
    -webkit-text-stroke: 0.3px black;
    background: rgba(255, 255, 255, 0.918);
    // background: rgba(255, 255, 255, 0.747);
  }
  img {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.305);
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .addnewcontact {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.664);
    width: fit-content;
    border-radius: 1rem;
    font-size: 1.5rem;
    i {
      padding: 0 0.4rem;
    }
  }
  .title {
    font-size: 1.8rem;
    padding: 1rem;
    width: fit-content;
    margin: 0.5rem auto;
    color: white;
    -webkit-text-stroke: 0.5px black;
    font-family: Merienda;
  }
  .user-container {
    background: linear-gradient(to right, #dbdbdb9c, #f2f2f29d, #eaeaeaa2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.305);
    backdrop-filter: blur(1px);
    width: 80vw;
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 1rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.377);
    margin-bottom: 2rem;
    & > * {
      margin: 0 auto;
      text-align: center;
    }
    .name {
      font-size: 1.6rem;
      padding: 0.5rem;
    }
    .about {
      font-size: 1.4rem;
    }
    a {
      display: block;
      background-color: rgba(250, 250, 250, 0.822);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.305);
      padding: 0.8rem 2rem;
      border-radius: 1rem;
      font-size: 1.4rem;
      width: fit-content;
      margin-top: 1rem;
      i {
        margin-right: 0.8rem;
      }
    }
  }
  .contacts-container {
    .user-item {
      background: linear-gradient(to right, #dbdbdb9c, #f2f2f29d, #eaeaeaa2);
      backdrop-filter: blur(1px);
      margin: 0 auto 2rem auto;
      border-radius: 1.5rem;
      width: 80vw;
      max-width: 40rem;
      display: flex;
      transition: transform 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
      &:hover {
        transform: scale(1.04);
      }
      .top {
        display: flex;
        flex-direction: column;
        border-radius: 2rem 0 0 2rem;
        flex: 1;
        align-items: center;
        justify-content: center;
        color: black;
        .name,
        img {
          font-size: 1.8rem;
          margin: 0.7rem 2rem;
        }
      }
      .bottom {
        flex: 1;
        padding: 1rem;
        border-radius: 0 1rem 1rem 0;
        a,
        div {
          display: block;
          text-align: center;
          padding: 0.5rem 1rem;
          font-size: 1.6rem;
          background: white;
          min-width: 13rem;
          margin: 1rem auto;
          border-radius: 0.6rem;
          transition: transform 0.5s;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.305);
          &:hover {
            transform: scale(1.04);
          }
          i {
            margin-right: 0.8rem;
          }
        }
      }
    }
  }
}
