.edituserscreen {
  font-size: 1.5rem;
  font-family: Merienda;
  min-height: 100vh;
  background: #eee;
  header {
    display: flex;
    align-items: center;
    padding: 1.8rem 1rem;
    background-color: var(--dark-green);
    margin-bottom: 4rem;
    color: white;
    i {
      -webkit-text-stroke: 2px rgba(36, 51, 39, 0.788);
      font-size: 2.4rem;
    }
    p {
      font-size: 1.8rem;
      flex: 1;
      text-align: center;
    }
  }
  img {
    display: block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  form {
    width: 85vw;
    max-width: 550px;
    margin: 0 auto;
    padding: 3rem;
    background-color: rgba(238, 238, 238, 0.452);
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    animation: fadein 0.5s;
    fieldset {
      padding: 1rem;
      label:first-of-type {
        margin-top: 0;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
    }
    button {
      font-family: Merienda;
      display: block;
      padding: 0.8rem 2rem;
      border-radius: 1rem;
      margin: 0 1rem;
      margin-top: 1rem;
      color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.253);
      border: 1px solid;
      &.save {
        background: rgba(0, 146, 0, 0.815);
      }
      &.delete {
        background: rgba(255, 55, 55, 0.877);
      }
    }
    label {
      font-size: 1.6rem;
      margin-top: 1.5rem;
      margin-bottom: 0.4rem;
    }
    input,
    textarea {
      padding: 0.5rem;
    }
    .onlineRadioContainer {
      display: flex;
      align-items: center;
      margin: 1rem;
      label,
      input {
        width: max-content;
        padding: 0.5rem;
        margin: 0;
      }
      input:first-of-type {
        margin-right: 4rem;
      }
    }
  }
  input,
  label,
  textarea {
    display: block;
    width: 100%;
  }
}
