.editchatsscreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  header {
    background: var(--dark-green);
    color: white;
    font-family: Merienda;
    align-items: center;
    padding: 0.5rem;
    .top {
      display: flex;
      align-items: center;
      i {
        padding-left: 1.5rem;
      }
      p {
        font-size: 2rem;
        text-align: center;
        flex: 1;
      }
    }
    .bottom {
      padding-top: 0.2rem;
      button {
        i {
          margin-right: 0.3rem;
        }
        display: block;
        padding: 0.7rem;
        margin: 0 auto;
        background: #00c15e;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
        color: white;
        border: none;
        border-radius: 0.7rem;
      }
    }
  }
  .message-container {
    padding-bottom: 2rem;
    .addnewchat {
      text-align: center;
      i {
        padding: 0.5rem;
        background: #eee;
        border-radius: 50%;
      }
      &.selected {
        background-color: rgba(173, 216, 230, 0.5);
      }
    }
    .count {
      margin: 0 auto;
      padding: 0.5rem 1rem;
      background: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
      width: fit-content;
      border-radius: 1rem;
      font-size: 1.7rem;
    }
    .triangle {
      display: block;
    }
    .received {
      border-top-left-radius: 0;
      .delete-icon {
        right: -3rem;
      }
      .reply-icon {
        right: -6rem;
      }
    }
    .sent {
      border-top-right-radius: 0;
      .delete-icon {
        left: -3rem;
      }
      .reply-icon {
        left: -6rem;
      }
    }
    .delete-icon {
      background: rgb(180, 17, 17);
    }
    .reply-icon {
      background: grey;
    }
    .delete-icon,
    .reply-icon {
      position: absolute;
      transform: translateY(-50%);
      color: white;
      border-radius: 50%;
      top: 50%;
      padding: 0.7rem;
    }
  }
  footer {
    background-color: #eee;
    padding: 0.8rem 1rem 1rem 1rem;
    .position {
      text-align: center;
      margin-bottom: 0.5rem;
      font-size: 1.7rem;
    }
    .reply-container {
      flex-basis: 100%;
      max-width: 100%;
      margin: 0.4rem 0.5rem;
      padding: 1.5rem;
      background-color: white;
      overflow: hidden;
      position: relative;
      border-left: 3px solid var(--reply-color);
      border-radius: 0.3rem;
      animation: increaseHeight 0.2s ease;
      animation-fill-mode: backwards;
      .name {
        font-size: 1.2rem;
        padding-bottom: 0.2rem;
        color: var(--reply-color);
      }
      .content {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      .cancel {
        position: absolute;
        right: 1rem;
        top: 0.8rem;
      }
    }

    .date-container {
      display: flex;
      align-items: center;
      label {
        font-size: 1.6rem;
        margin: 0 1.5rem;
      }
      input {
        margin-left: 1rem;
      }
    }
    .tick-container {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      svg {
        color: rgba(0, 0, 0, 0.3);
      }
      .blue {
        color: #4fc3f7;
      }
      input {
        margin: 0 0.8rem 0 4rem;
      }
    }
    .chat-input-container {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      .textbox {
        flex: 1;
        height: 2.7rem;
        border: none;
        margin: 0 1rem;
        border-radius: 0.4rem;
        padding: 0.5rem 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        overflow-y: visible;
        max-height: 10rem;
        resize: none;
        &:focus {
          border: none;
          outline: none;
        }
      }
      i {
        font-size: 2rem;
        background: var(--dark-green);
        padding: 0.4rem;
        border-radius: 50%;
        color: white;
        -webkit-text-stroke: 2px var(--dark-green);
      }
      .left {
        transform: rotateY(180deg);
      }
    }
  }
}
