.voice-call-screen {
  header {
    background-color: var(--dark-green);
    color: white;
    padding: 1rem;
    .top {
      display: flex;
      justify-content: center;
      p {
        flex: 1;
        text-align: center;
        font-size: 1.2rem;
      }
      .bottom {
        .name {
          text-align: center;
        }
      }
    }
  }
}
