.calls-list {
  .call-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 1.5rem;
    margin: 0.2rem 0;
    img {
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
    .container {
      margin-left: 1rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      .name {
        font-size: 1.7rem;
      }
      .details {
        font-size: 1.2rem;
        i {
          font-size: 1.6rem;
          -webkit-text-stroke: 0.8px white;
        }
        .incomming {
          display: inline-block;
          transform: rotate(135deg);
          color: green;
          margin-right: 0.7rem;
        }
        .outgoing {
          margin-right: 0.7rem;
          display: inline-block;
          transform: rotate(-45deg);
          color: green;
        }
        .red {
          color: rgb(192, 28, 28);
        }
      }
    }
    .icon {
      margin-right: 0.5rem;
      padding: 1rem;
      color: var(--dark-green);
    }
  }
}
