.chats-list {
  max-height: 89vh;
  overflow-y: auto;
  .chat-item {
    &.selected {
      background-color: rgb(233, 233, 233);
      .profile-picture i {
        display: block;
      }
    }
    &:active {
      background-color: rgb(247, 247, 247);
    }

    &:not(:last-of-type) {
      border-bottom: 0.5px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(
        to right,
        transparent 75px,
        rgba(112, 112, 112, 0.137) 75px,
        rgba(112, 112, 112, 0.137) 97%,
        transparent 97%
      );
    }

    padding: 1rem;
    display: flex;
    align-items: center;
    .profile-picture {
      position: relative;
      i {
        display: none;
        position: absolute;
        bottom: 0rem;
        right: -0.3rem;
        // background: teal;
        background: #00b09e;
        color: white;
        border-radius: 50%;
        padding: 0.3rem;
        font-size: 1.4rem;
        -webkit-text-stroke: 1px #00b09e;
        border: 2px solid rgb(233, 233, 233);
      }
      img {
        width: 5rem;
        border-radius: 50%;
      }
      &.online::after {
        content: '';
        width: 1rem;
        height: 1rem;
        padding: 0.6rem;
        border: 0.3rem solid white;
        border-radius: 50%;
        position: absolute;
        background-color: var(--light-green);
        z-index: 10;
        top: 0.1rem;
        right: 0.1rem;
      }
    }
    .name-container {
      display: flex;
      margin-left: 2rem;
      flex: 1;
      justify-content: center;
      flex-direction: column;
      .name {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 2px;
        margin-left: 2px;
      }
      .lastmessage {
        display: flex;
        .content {
          font-size: 1.2rem;
          color: rgba(0, 0, 0, 0.76);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 65vw;
        }
        .tick > *:not(.active) {
          display: none;
        }
        .tick .active {
          margin-right: 2px;
          display: block;
          color: rgba(0, 0, 0, 0.3);
          &.blue {
            color: #4fc3f7;
          }
        }
      }
    }
    .time-container {
      display: flex;
      flex-direction: column;
      text-align: right;
      .message-time {
        color: rgba(0, 0, 0, 0.671);
      }
      .message-time,
      .lastseen-time {
        padding: 0.1rem;
      }
      .online {
        color: var(--light-green);
      }
    }
  }
}
