.homescreen {
  .chats-list {
    max-height: 89vh;
    overflow-y: auto;
    .chat-item {
      &:not(:last-of-type) {
        border-bottom: 0.5px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(
          to right,
          transparent 75px,
          rgba(112, 112, 112, 0.137) 75px
        );
      }

      padding: 1rem;
      display: flex;
      align-items: center;
      .profile-picture {
        position: relative;
        img {
          width: 5rem;
          border-radius: 50%;
        }
        &.online::after {
          content: '';
          width: 1rem;
          height: 1rem;
          padding: 0.6rem;
          border: 0.3rem solid white;
          border-radius: 50%;
          position: absolute;
          background-color: var(--light-green);
          z-index: 10;
          top: 0.1rem;
          right: 0.1rem;
        }
      }
      .name-container {
        display: flex;
        margin-left: 2rem;
        flex: 1;
        justify-content: center;
        flex-direction: column;
        .name {
          font-size: 1.5rem;
          font-weight: bold;
        }
        .lastmessage {
          font-size: 1.2rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 65vw;
        }
      }
      .time-container {
        display: flex;
        flex-direction: column;
        text-align: right;
        .message-time,
        .lastseen-time {
          padding: 0.1rem;
        }
        .online {
          color: var(--light-green);
        }
      }
    }
  }
}
