.status-screen {
  .status-item {
    display: flex;
    padding: 1rem;
    .image {
      position: relative;
      width: 4rem;
      height: 4rem;
      margin-left: 1rem;
      img {
        box-sizing: content-box;
        width: 4rem;
        border: 0.4rem solid var(--light-green);
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding-left: 3rem;
      .name {
        font-size: 1.5rem;
      }
      .time {
        font-size: 1.2rem;
        color: var(--grey);
      }
    }
  }
  .viewed-status-container {
    .image {
      img {
        border: 0 !important;
      }
    }
  }
}
