:root {
  --dark-green: #075e55;
  --light-green: #20c757;
  --light-blue: #e1f3fb;
  --sent-green: #dcf8c6;
  --blue-tick: #4fc3f7;
  --grey: #51585c;
  --time: rgb(151, 151, 151);
  --reply-color: #a25ea4;
}
