.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.964);
  border: 1px solid rgba(233, 233, 233, 0.964);
  color: #7e7e7e;
  -webkit-text-stroke: 1.2px rgba(255, 255, 255, 0.9);
  bottom: 7rem;
  width: 3.5rem;
  height: 3.5rem;
  right: 2.5rem;
  border-radius: 50%;
  animation: fadein 0.3s;
}
.message-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-size: cover !important;
  padding-top: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;

  .to + .from,
  .from + .to,
  .content-date + .to,
  .content-date + .from {
    margin-top: 0.7rem;
    .triangle {
      display: block;
    }
    .received {
      border-top-left-radius: 0;
    }
    .sent {
      border-top-right-radius: 0;
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateX(0);
    transition: all 0.1s;
    position: relative;
    padding: 0.3rem 0;
    &.selected::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      --blue: rgba(0, 128, 233, 0.18);
      background: var(--blue);
    }
    &.temp-selected {
      background: rgba(181, 216, 255, 0.315);
      animation: fadein 0.2s;
    }
    &:active {
      .sent,
      .received {
        background: lightblue;
        audio {
          &::-webkit-media-controls-panel {
            background: lightblue !important;
          }
        }
      }
      .triangle path {
        fill: lightblue;
      }
    }
    &.document.audio {
      .sent,
      .received {
        padding: 0 0 0.4rem 0 !important;
        .main {
          display: flex;
          align-items: center;
          img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
          }
        }
      }
      .sent {
        .info {
          right: 1rem;
        }
        img {
          transform: translate(30%, 10%);
          z-index: 1;
        }
        audio {
          &::-webkit-media-controls-panel {
            background: var(--sent-green);
          }
        }
      }
      .received {
        .main {
          flex-direction: row-reverse;
          .info {
            right: 7rem;
          }
          img {
            transform: translateX(-40%);
            z-index: 1;
          }
        }
        audio {
          &::-webkit-media-controls-panel {
            background: #fff;
          }
        }
      }
      audio {
        display: block;
        max-width: 100%;
      }
    }
    &.document.image {
      .time {
        color: white;
      }
    }
    &.document {
      .sent,
      .received {
        padding: 0.3rem;
        padding-bottom: 0rem;
        max-width: 75%;
        .main {
          padding: 0rem;
          .info {
            float: none;
            position: absolute;
            bottom: 0.9rem;
            right: 1.2rem;
            .time {
              -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.205);
            }
          }
        }
      }
    }
    .received,
    .sent {
      position: relative;
      padding: 0.4rem;
      padding-bottom: 0.8rem;
      border-radius: 0.5rem;
      max-width: 70%;
      box-shadow: 1px 1px 10px #0000003e;
      min-width: 7rem;
      // padding-bottom: 1.5rem; //TODO:
      .triangle {
        position: absolute;
        top: 0;
      }
      .info {
        //TODO: new
        padding-left: 0.2rem;
        float: right;
        display: flex;
        align-items: center;
        transform: translate(5px, 5px);
      }
      .time {
        padding: 0 2px;
        color: var(--time);
      }
    }
    .sent {
      .tick {
        // position: absolute; //TODO:
        color: black;
        div {
          width: 1rem;
          height: 1rem;
        }
        display: flex;
        align-items: center;
        color: var(--grey);
        img {
          width: 1.5rem;
        }
      }
    }

    .main {
      padding: 0.4rem;
      padding-bottom: 0;
      padding-left: 0.2rem;
      .content {
        display: inline; //TODO: new
        font-size: 1.3rem;
        margin-bottom: 0.3rem;
        // word-break: break-all;
        a {
          color: #1c9bd6;
        }
        &.hide {
          display: none;
        }
      }
      .image {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }
    .triangle {
      display: none;
    }
    .reply-logo {
      position: absolute;
      background-color: rgba(102, 102, 102, 0.314);
      padding: 0.5rem;
      color: white;
      border-radius: 50%;
      top: 50%;
      left: -4rem;
      transform: translateY(-50%);
    }
    .tick > *:not(.active) {
      display: none;
    }
    .tick .active {
      display: block;
      color: rgba(0, 0, 0, 0.3);
      &.blue {
        color: #4fc3f7;
      }
    }
  }
}
