.editchatsscreen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  header {
    background: var(--dark-green);
    color: white;
    font-family: Merienda;
    align-items: center;
    padding: 0.5rem;
    .top {
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      i {
        padding-left: 1.5rem;
      }
      p {
        font-size: 2rem;
        text-align: center;
        flex: 1;
      }
    }
    .bottom {
      padding-top: 0.2rem;
      button {
        i {
          margin-right: 0.3rem;
        }
        display: block;
        padding: 0.7rem;
        margin: 0 auto;
        background: #00c15e;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.301);
        color: white;
        border: none;
        border-radius: 0.7rem;
      }
    }
  }
  .message-container {
    padding-bottom: 2rem;
    .addnewchat {
      text-align: center;
      font-size: 1.1rem;
      font-family: monospace;
      i {
        padding: 0.5rem;
        margin-left: 0.5rem;
        background: #eee;
        border-radius: 50%;
      }
      &.selected {
        background-color: rgba(173, 216, 230, 0.5);
      }
    }
    .triangle {
      display: block;
    }
    .received {
      border-top-left-radius: 0;
      .delete-icon {
        right: -3rem;
      }
      .reply-icon {
        right: -6rem;
      }
    }
    .sent {
      border-top-right-radius: 0;
      .delete-icon {
        left: -3rem;
      }
      .reply-icon {
        left: -6rem;
      }
    }
    .delete-icon {
      background: rgb(180, 17, 17);
    }
    .reply-icon {
      background: grey;
    }
    .delete-icon,
    .reply-icon {
      position: absolute;
      transform: translateY(-50%);
      color: white;
      border-radius: 50%;
      top: 50%;
      padding: 0.7rem;
    }
  }
  footer {
    background-color: #eee;
    padding: 0.8rem 1rem 1rem 1rem;
    .position {
      text-align: center;
      margin-bottom: 0.5rem;
      font-size: 1.7rem;
    }
    .reply-container {
      flex-basis: 100%;
      max-width: 100%;
      margin: 0.4rem 0.5rem;
      padding: 1.5rem;
      background-color: white;
      overflow: hidden;
      position: relative;
      border-left: 3px solid var(--reply-color);
      border-radius: 0.3rem;
      animation: increaseHeight 0.2s ease;
      animation-fill-mode: backwards;
      display: flex;
      align-items: center;
      &.document {
        padding: 0;
        .reply-left {
          padding: 1rem;
        }
      }
      .reply-left {
        flex: 1;
        .name {
          font-size: 1.2rem;
          padding-bottom: 0.2rem;
          color: var(--reply-color);
        }
        .content {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .cancel {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          width: 1.5rem;
          height: 1.5rem;
          padding: 0.3rem;
          border-radius: 50%;
          background-color: rgba(238, 238, 238, 0.555);
          right: 0.5rem;
          top: 0.2rem;
        }
      }
      .reply-right {
        // padding-right: 0.1rem;
        img {
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          border-radius: 0 0.3rem 0.3rem 0;
        }
      }
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
      .date-container {
        display: flex;
        margin-top: 0.3rem;
        align-items: center;
        justify-content: center;
        flex: 1;
        label {
          font-size: 1.6rem;
          margin: 0 0.5rem;
        }
        input {
          margin-left: 1rem;
        }
      }
      .media-input-container {
        flex: 1;
        display: flex;
        margin-top: 0.5rem;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        label {
          margin: 0 2rem;
          font-size: 0.8rem;
        }
      }
    }
    #audio-input,
    #camera-input {
      display: none;
    }
    .tick-container {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      svg {
        color: rgba(0, 0, 0, 0.3);
      }
      .blue {
        color: #4fc3f7;
      }
      input {
        margin: 0 0.8rem 0 4rem;
      }
    }
    .chat-input-container {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      .textbox {
        flex: 1;
        height: 2.7rem;
        border: none;
        margin: 0 1rem;
        border-radius: 0.4rem;
        padding: 0.5rem 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        overflow-y: visible;
        max-height: 10rem;
        resize: none;
        &:focus {
          border: none;
          outline: none;
        }
      }
      i {
        font-size: 2rem;
        background: var(--dark-green);
        padding: 0.4rem;
        border-radius: 50%;
        color: white;
        -webkit-text-stroke: 2px var(--dark-green);
      }
      .left {
        transform: rotateY(180deg);
      }
    }
  }
}
