.editdatascreen {
  background: #eee;
  min-height: 100vh;
  padding-bottom: 1rem;
  header {
    background: var(--dark-green);
    color: white;
    font-family: Merienda;
    display: flex;
    padding: 1rem 0.5rem;
    align-items: center;
    i {
      padding: 1rem;
    }
    p {
      transform: translateX(-3%);
      font-size: 2rem;
      text-align: center;
      flex: 1;
    }
  }
  img {
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.305);
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .addnewcontact {
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    background: white;
    width: fit-content;
    border-radius: 1rem;
    font-size: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.305);

    i {
      padding: 0 0.4rem;
    }
  }
  .title {
    font-size: 1.8rem;
    padding: 1rem;
    width: fit-content;
    margin: 0.5rem auto;
    font-family: Merienda;
  }
  .user-container {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.305);
    backdrop-filter: blur(1px);
    width: 80vw;
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 1rem;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.377);
    margin-bottom: 2rem;
    & > * {
      margin: 0 auto;
      text-align: center;
    }
    .name {
      font-size: 1.6rem;
      padding: 0.5rem;
    }
    .about {
      font-size: 1.4rem;
    }
    a {
      display: block;
      background-color: rgba(250, 250, 250, 0.822);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.305);
      padding: 0.8rem 2rem;
      border-radius: 1rem;
      font-size: 1.4rem;
      width: fit-content;
      margin-top: 1rem;
      i {
        margin-right: 0.8rem;
      }
    }
  }
  .contacts-container {
    .user-item {
      background: white;
      backdrop-filter: blur(1px);
      margin: 0 auto 2rem auto;
      border-radius: 1.5rem;
      width: 80vw;
      max-width: 40rem;
      display: flex;
      transition: transform 0.3s;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
      .left {
        display: flex;
        flex-direction: column;
        border-radius: 2rem 0 0 2rem;
        flex: 1;
        align-items: center;
        justify-content: center;
        color: black;
        .name,
        img {
          font-size: 1.8rem;
          margin: 0.7rem 2rem;
        }
      }
      .right {
        flex: 1;
        padding: 1rem;
        border-radius: 0 1rem 1rem 0;
        .fa-address-book {
          color: rgb(0, 164, 175);
        }
        .fa-comment-alt {
          color: var(--dark-green);
        }
        .fa-phone-alt {
          color: rgb(88, 88, 88);
        }
        .fa-photo-video {
          color: rgb(136, 17, 86);
        }
        .fa-trash {
          color: rgb(173, 16, 16);
        }
        a,
        div {
          display: block;
          text-align: center;
          padding: 0.5rem 1rem;
          font-size: 1.6rem;
          background: white;
          min-width: 13rem;
          margin: 1rem auto;
          border-radius: 0.6rem;
          transition: transform 0.5s;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.305);
          i {
            margin-right: 0.8rem;
          }
        }
      }
    }
  }
}
